body {
    margin: 0;
    padding: 0;
}

#background {
    background-color: #202533;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
    background-color: #EAEDEE;
    margin: 130px 80px 80px 320px;
    height: 500px;
    animation-name: content_move_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes content_move_in {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 50vw;
        opacity: 0;
    }
}

section {
    display: inline-block;
    vertical-align: top;
    width: 700px;
    height: 500px;
    background-color: #EAEDEE;
}

#animation .sectionwrapper {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#animation .column_1 {
    background-color: red;
    height: 100%;
    width: 50%;
}

#animation .column_2 {
    background-color: green;
    height: 100%;
    width: 50%;
}

#title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

#title p {
    color: white;
    font-size: 20px;
    z-index: 2;
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    opacity: 0.5;
    bottom: 20px;
    z-index: 1;
    font-weight: lighter;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

footer p {
    margin: auto;
}

/*----- BLOCKS IN ORDER ------*/

.block_arrow {
    text-align: center;
    margin-top: 200px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    font-size: 60px;
    cursor: default;
    background-color: #EAEDEE;
}


#next_btn {
    border: none;
    background: none;
    font-size: 60px;
    color: #F49131;
}
