body {
    margin: 0;
    padding: 0;
}

#background {
    background-color: #202533;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 1450px;
    height: 550px;
    background-color: #EAEDEE;
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    opacity: 0.5;
    bottom: 20px;
    z-index: 1;
    font-family: 'Futura';
}

footer p {
    margin: auto;
    color: white;
}

.content_desktop {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
    background-color: #EAEDEE;
    margin: 125px 0px 0px 265px;
    height: 550px;
    animation-name: content_move_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes content_move_in {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 50vw;
        opacity: 0;
    }
}

/*------ EARTH -----*/

#scene_earth {
    background-image: url(img/background_earth.svg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}

#stars {
    background-image: url(img/stars_earth-01.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: pulse_kf 2.5s infinite alternate linear;
}

.pulse {
    animation: pulse_kf 0.5s infinite alternate linear;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#earth_container {
    position: fixed;
    top: -27vw;
    left: 25vw;
}

#earth_sprite {
    background-image: url(img/spritesheet_earth.svg);
    background-size: 1600%;
    width: 50vw;
    height: 80vw;
}

.earth_walkcycle {
    animation-name: earth_walkcycle_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: linear;
    animation-timing-function: steps(15);
}

@keyframes earth_walkcycle_kf {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 1600%;
    }
    100% {
        background-position: 100%;
    }
}

/*------- ARROW NEXT BUTTON ------*/

.block_arrow {
    text-align: center;
    margin-top: 240px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    font-size: 60px;
    width: 150px;
    background-color: #EAEDEE;
    border: none;
}

#next_btn {
    border: none;
    background: none;
}

#next_btn a {
    font-size: 60px;
    color: #F49131;
    cursor: pointer;
    text-decoration: none;
}

/*------- BACK TO TOP BUTTON -------*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 2vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #F49131;
    color: #EAEDEE;
    cursor: pointer;
    padding: 2vw;
    border-radius: 16px;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

/*---------- NAVIGATIONS MENU --------*/

#nav_menu {
    flex-wrap: nowrap;
}

nav {
    background-color: #202533;
    position: fixed;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #F49131;
    margin: 1.3vw;
    text-decoration: none;
    font-family: 'Futura';
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    vertical-align: middle;
}

nav a:hover {
    color: #F7F0E7;
}

/*--------- DROPDOWN MENU ----------*/

/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-color: #202533;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: #202533;
    min-width: 200px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F7F0E7;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #F49131;

}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: #F49131;

}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #F49131;

}

.dropdown {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px 40px 10px 10px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #F7F0E7;
    padding: 20px 0px 0px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 3px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #F49131;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
}

@media all and (min-width: 828px) {
    header {
        display: none;
    }
}


/*------------- SECTIONS ------------*/

/*------- SPLASH -------*/

#splash {
    width: 1040px;
}

/*------ HISTORY -----*/

#history h1 {
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-family: 'Futura';
    letter-spacing: 5px;
    color: #F7F0E7;
    width: 100%;
}

#history h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Futura';
    letter-spacing: 2px;
    color: #F7F0E7;
    margin: 10px;
}

#history .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F49131;

}

#history .column_1 {
    width: 50%;
    height: 90%;
    background-color: green;
}

#history .column_2 {
    width: 50%;
    height: 90%;
    background-color: blue;
}

/*------ CONTACT ------*/

#contact h1 {
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-family: 'Futura';
    letter-spacing: 5px;
    color: #F7F0E7;

}

#contact h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: 'Futura';
    letter-spacing: 2px;
    color: #F7F0E7;
}

#contact li {
    margin: 0;
    font-size: 12px;
    font-family: 'Futura';
    letter-spacing: 1px;
    color: #F7F0E7;
}

#contact .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F49131;

}

#contact .column_1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 0px 0px;
}

#contact .column_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0px 0px 0px;
}

#benjamin {
    background-image: url("/img/selfportraits/benjamin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    order: 1;
}

#benjamin:hover {
    transform: scale(1.3);
}

#beatrice {
    background-image: url("/img/selfportraits/beatrice.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    order: 2;
}

#beatrice:hover {
    transform: scale(1.3);
}

#anna {
    background-image: url("/img/selfportraits/anna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    order: 3;
}

#contact .anna {
    order: 3;
}

#anna:hover {
    transform: scale(1.3);
}

#amanda {
    background-image: url("/img/selfportraits/amanda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    order: 4;
}

#contact .amanda {
    order: 4;
}

#amanda:hover {
    transform: scale(1.3);

}


/*----------- MOBILE VERSION ----------*/

@media all and (max-width: 828px) {
    body {
        margin: 0;
        padding: 0;
    }


    section {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #EAEDEE;
    }

    footer {
        z-index: 3;
        width: 100%;
        height: 40px;
        bottom: 0;
        opacity: 1;
        background-color: #202533;
        font-family: 'Futura';
    }

    footer p {
        margin: auto;
        color: white;
    }

    /*------ SPLASH -----*/
    #splash {
        width: 100%;
        height: 100%;
    }
    /*------ HISTORY -----*/
    #history h1 {
        text-align: center;
        margin: 0;
        font-size: 6vw;
        font-family: 'Futura';
        letter-spacing: 5px;
        color: #F7F0E7;
        width: 100%;
    }

    #history h2 {
        text-align: center;
        margin: 0;
        font-size: 3.5vw;
        font-family: 'Futura';
        letter-spacing: 2px;
        color: #F7F0E7;
    }
    #history .sectionwrapper {
        height: 500px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #F49131;

    }

    #history .column_1 {
        width: 100%;
        height: 50%;
        background-color: green;
    }

    #history .column_2 {
        width: 100%;
        height: 50%;
        background-color: blue;
    }

    /*------ CONTACT ------*/
    #contact_mobile h1 {
        text-align: center;
        margin: 0;
        font-size: 6vw;
        font-family: 'Futura';
        letter-spacing: 5px;
        color: #F7F0E7;
        margin-top: 30px;
    }

    #contact_mobile h2 {
        text-align: center;
        margin: 0;
        font-size: 6vw;
        font-family: 'Futura';
        letter-spacing: 2px;
        color: #F7F0E7;
    }

    #contact_mobile li {
        margin: 0;
        font-size: 12px;
        font-family: 'Futura';
        letter-spacing: 1px;
        color: #F7F0E7;
        line-height: 22px;
    }

    #contact_mobile .sectionwrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #F49131;

    }

    #contact_mobile .column_1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 20px 20px 150px 20px;
    }

    #benjamin {
        background-image: url("/img/selfportraits/benjamin.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 500px;
        width: 300px;
        height: 300px;
        order: 1;
        margin: 20px 0px;
    }
    #contact_mobile .benjamin {
        order: 1;
    }
    #benjamin:hover {
        transform: scale(1);
    }

    #beatrice {
        background-image: url("/img/selfportraits/beatrice.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 500px;
        width: 300px;
        height: 300px;
        order: 2;
        margin: 20px 0px;
    }
    #contact_mobile .beatrice {
        order: 2;
    }
    #beatrice:hover {
        transform: scale(1);
    }

    #anna {
        background-image: url("/img/selfportraits/anna.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 500px;
        width: 300px;
        height: 300px;
        order: 3;
        margin: 20px 0px;
    }
    #contact_mobile .anna {
        order: 3;
    }
    #anna:hover {
        transform: scale(1);
    }

    #amanda {
        background-image: url("/img/selfportraits/amanda.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 500px;
        width: 300px;
        height: 300px;
        order: 4;
        margin: 20px 0px;
    }
    #contact_mobile .amanda {
        order: 4;
    }
    #amanda:hover {
        transform: scale(1);
    }
}

.content_mobile {
    z-index: 1;
    position: absolute;
    background-color: #EAEDEE;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
