body {
    margin: 0;
}

#content {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
    margin: 150px 80px 100px 320px;
    height: 500px;
    width: 500px;
    background-color: white;
    animation-name: blocks_move_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.sectionwrapper{
    width: 500px;
    height: 500px;
}

#background {
    background-color: #202533;
    position: fixed;
    width: 100%;
    height: 100%;
}

#contact{
    display: inline-block;
}
#work{
    display: inline-block;
    position: fixed;
}

@keyframes blocks_move_in {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 50vw;
        opacity: 0;
    }
}

/*--------- NAV MENU -----*/

#nav_menu {
    background-color: #F49131;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav a {
    margin: 20px;
    font-size: 1.6vw;
    text-decoration: none;
    color: #EAEDEE;

}

/*------ RETURN TO TOP BUTTON ------*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 2vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #F49131;
    color: #EAEDEE;
    cursor: pointer;
    padding: 2vw;
    border-radius: 16px;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

/*--------- DROPDOWN MENU ----------*/

/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-color: rgb(45, 45, 45);
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.urten_nav_drop {
    margin: 0;
    width: 100%;
}

.urten_nav_drop img {
    width: 50px;
    vertical-align: middle;
    padding: 0px 0px 12px 0px;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 0px 0px 20px;
    display: block;
    cursor: pointer;
    background-color: rgba(45, 45, 45, 0.9);
    min-width: 200px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F7F0E7;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: darkred;
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: darkred;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: darkred;
}

.dropdown {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #F7F0E7;
    padding: 20px 0px 0px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans';
    letter-spacing: 3px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: darkred;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
}

@media all and (min-width: 828px) {
    header {
        display: none;
    }
}
