body {
    margin: 0;
    padding: 0;
}

#background {
    background-color: #202533;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
    background-color: #EAEDEE;
    margin: 125px 0px 0px 265px;
    height: 550px;
    animation-name: content_move_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes content_move_in {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 50vw;
        opacity: 0;
    }
}

section {
    display: inline-block;
    vertical-align: top;
    width: 1450px;
    height: 550px;
    background-color: #EAEDEE;
}

footer {
    width: 100%;
    position: fixed;
    display: flex;
    opacity: 0.5;
    bottom: 20px;
    z-index: 1;

    font-weight: lighter;
    font-family: 'Futura';
}

footer p {
    margin: auto;
    color: white;
}

/*----- BLOCKS IN ORDER ------*/

.block_arrow {
    text-align: center;
    margin-top: 240px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    font-size: 60px;
    width: 150px;
    background-color: #EAEDEE;
    border: none;
}

#next_btn {
    border: none;
    background: none;
}

#next_btn a {
    font-size: 60px;
    color: #F49131;
    cursor: pointer;
    text-decoration: none;
}

/*---- BACK TO TOP BUTTON ----*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 2vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #F49131;
    color: #EAEDEE;
    cursor: pointer;
    padding: 2vw;
    border-radius: 16px;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

/*------- NAVIGATIONS MENU -----*/

#nav_menu {
    flex-wrap: nowrap;
}

nav {
    background-color: #202533;
    position: fixed;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #F49131;
    margin: 1.3vw;
    text-decoration: none;
    font-family: 'Futura';
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    vertical-align: middle;
}

nav a:hover {
    color: #F7F0E7;
}

/*--------- DROPDOWN MENU ----------*/

/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-color: #F49131;
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: #F49131;
    min-width: 200px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F7F0E7;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #202533;

}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: #202533;

}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #202533;

}

.dropdown {
    display: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px 40px 10px 10px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #F7F0E7;
    padding: 20px 0px 0px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Futura';
    letter-spacing: 3px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #202533;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
}

@media all and (min-width: 828px) {
    header {
        display: none;
    }
}


/*------------- SECTIONS ------------*/

/*------- SPLASH -------*/

#splash {
    width: 1040px;
}

/*------ ANIMATION -----*/

#animation h1 {
    text-align: center;
    margin: 0;
    font-size: 70px;
    font-family: 'Futura';
    letter-spacing: 5px;
    color: #F7F0E7;
    width: 100%;

}

#animation .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F49131;

}

#animation .column_1 {
    width: 50%;
    height: 90%;
    background-color: green;
}

#animation .column_2 {
    width: 50%;
    height: 90%;
    background-color: blue;
}

/*------ CONTACT ------*/

#contact h1 {
    text-align: center;
    margin: 0;
    font-size: 70px;
    font-family: 'Futura';
    letter-spacing: 5px;
    color: #F7F0E7;

}

#contact h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: 'Futura';
    letter-spacing: 2px;
    color: #F7F0E7;
}

#contact li {
    margin: 0;
    font-size: 12px;
    font-family: 'Futura';
    letter-spacing: 1px;
    color: #F7F0E7;
}

#contact .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F49131;

}

#contact .column_1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0px 0px 0px;
}

#contact .column_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0px 0px 0px;
}

#benjamin {
    background-image: url("/img/selfportraits/benjamin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#beatrice {
    background-image: url("/img/selfportraits/beatrice.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#anna {
    background-image: url("/img/selfportraits/anna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#amanda {
    background-image: url("/img/selfportraits/amanda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
